{% extends 'base.html' %}
{% load static %}
{% load cacheBust %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block body %}
<div class="header">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">使用者列表</li>
  </ol>
</div>
<div class="content">
  <div class="card mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered text-center" id="tblAccounts" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>姓名</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
            <tr>
              <td>{{ account.id }}</td>
              <td>{{ account.email }}</td>
              <td>{{ account.name }}</td>
              <td>
                <button type="button" class="btn pakka-bg" onclick="goAccountEdit('{{ account.id }}')">
                    <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function () {
  $('#tblAccounts').DataTable()
  // setInterval(refresh, 7000);
});

function refresh() {
  console.log('refresh')
  location.reload()
}
</script>
{% endblock %}
