{% extends 'nav.html' %}
{% load static %}
{% load cacheBust %}

{% block navCss %}
<style type="text/css">
  #faceRectDiv {
    width: 168px;
    height: 168px;
    background-position: center center;
    background-size: cover;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    /* background-image: url({{ emp.urlImg }}?{% cacheBust %}); */
  }
</style>
{% endblock %}

{% block content %}
<div class="col-6 offset-3">
  <div class="form-group row">
    <div class="col-sm-5" rowspan="2">
      <div id="faceRectDiv">
      </div>
    </div>
    <div class="col-sm-5">
      <form enctype="multipart/form-data">
        <input id="uploadImage" type="file" name="myfile" class="fimg1" />
        <hr>
      </form>
      <button type="button" onclick="FaceSearch()">設定</button>
      <span id="spMessage"></span>
    </div>
  </div>
</div>
<div class="col-6 offset-3">
  <div>faceToken: <span id="faceToken"></span></div>
  <div>confidence: <span id="confidence"></span></div>
  <div>threshold: <span id="threshold"></span></div>
  <div>name: <span id="name"></span></div>
  <div><span id="hintSubmit" class="text-danger"></span></div>
</div>
{% endblock %}

{% block navJs %}
<script src="{% static 'js/load-image.all.min.js' %}"></script>
<script src="{% static 'js/faceSearch.js' %}?{% cacheBust %}"></script>
{% endblock %}
