{% extends 'base.html' %}
{% load static %}
{% load cacheBust %}

{% block css %}
{% endblock %}

{% block body %}
<div class="col-6 offset-3 my-3">
    <div>
        登入頁面 [<a href="/register">前往註冊</a>]
    </div>
    <hr>
    <form action="/web/register" method="POST">
      <div class="form-group">
        <label for="email">電子郵件地址</label>
        <input type="email" class="form-control" id="email" placeholder="您的電子郵件">
      </div>
      <div class="form-group">
        <label for="password">密碼</label>
        <input type="password" class="form-control" id="password" placeholder="您的密碼">
      </div>
      <span id="spHint"></span>
      <button class="btn btn-primary btn-block" type="button" onclick="Login()">登入</button>
    </form>
  </div>  
{% endblock %}

{% block javascript %}
<script src="{% static 'js/login.js' %}?{% cacheBust %}"></script>
{% endblock %}
