{% extends 'base.html' %}
{% load static %}
{% load cacheBust %}

{% block css %}
    {% block navCss %}
    {% endblock %}
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="###">My Test Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/web/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/web/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/web/faceSearch">Face Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="###" onclick="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  {% block content %}
  {% endblock %}
</div>
{% endblock %}

{% block javascript %}
<script>
    function logout() {
        location.href = '/web/login'
    }
</script>
    {% block navJs %}
    {% endblock %}
{% endblock %}
