{% extends 'nav.html' %}
{% load static %}
{% load cacheBust %}

{% block navCss %}
<style type="text/css">
  #faceRectDiv {
    width: 168px;
    height: 168px;
    background-position: center center;
    background-size: cover;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    /* background-image: url({{ emp.urlImg }}?{% cacheBust %}); */
  }
</style>
{% endblock %}

{% block content %}
<div class="col-6 offset-3">
  <form>
    <div class="form-group">
      {% if account.urlImg %}
      <img src="{{ account.urlImg }}?{% cacheBust %}" width="160" alt="" data-toggle="modal" data-target="#mdUpdateFace">
      {% else %}
      <img src="{% static 'images/who.jpeg' %}" width="160" alt="" data-toggle="modal" data-target="#mdUpdateFace">
      {% endif %}
    </div>

    <div class="form-group">
      <label for="email">電子郵件地址</label>
      <input type="email" class="form-control" id="email" placeholder="您的電子郵件" value="{{ account.email }}" disabled>
    </div>
    <div class="form-group">
      <label for="name">姓名(*)</label>
      <input type="text" class="form-control" id="name" placeholder="您的大名" value="{{ account.name }}">
    </div>
    <div class="form-group">
      <label for="password">密碼</label>
      <input type="password" class="form-control" id="password" placeholder="至少六碼以上">
    </div>
    <div class="form-group">
      <label for="password2">密碼確認</label>
      <input type="password" class="form-control" id="password2" placeholder="請再次確認您的密碼" required>
    </div>
    <span id="spHint"></span>
    <button class="btn btn-primary btn-block" type="button" onclick="ProfileUpdate()">設定</button>
  </form>
</div>
<div class="modal fade" id="mdUpdateFace" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">上傳檔案</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-5" rowspan="2">
            <div id="faceRectDiv">
            </div>
          </div>
          <div class="col-sm-5">
            <form enctype="multipart/form-data">
              <input id="uploadImage" type="file" name="myfile" class="fimg1" />
              <hr>
            </form>
            <button type="button" onclick="FaceUpdate()">設定</button>
            <span id="spMessage"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}

{% block navJs %}
<script src="{% static 'js/load-image.all.min.js' %}"></script>
<script src="{% static 'js/profile.js' %}?{% cacheBust %}"></script>
{% endblock %}
