{% extends 'base.html' %}
{% load static %}
{% load cacheBust %}

{% block css %}
{% endblock %}

{% block body %}
<div class="col-6 offset-3 my-3">
    <div>
        註冊頁面 [<a href="/login">前往登入</a>]
    </div>
    <hr>
    <form action="/web/register" method="POST">
      <div class="form-group">
        <label for="email">電子郵件地址(*)</label>
        <input type="email" class="form-control" id="email" placeholder="您的電子郵件">
      </div>
      <div class="form-group">
        <label for="name">姓名(*)</label>
        <input type="text" class="form-control" id="name" placeholder="您的大名">
      </div>
      <div class="form-group">
        <label for="password">密碼(*)</label>
        <input type="password" class="form-control" id="password" placeholder="至少六碼以上">
      </div>
      <div class="form-group">
        <label for="password2">密碼確認(*)</label>
        <input type="password" class="form-control" id="password2" placeholder="請再次確認您的密碼" required>
      </div>
      <span id="spHint"></span>
      <button class="btn btn-primary btn-block" type="button" onclick="Register()">註冊</button>
    </form>
  </div>  
{% endblock %}

{% block javascript %}
<script src="{% static 'js/register.js' %}?{% cacheBust %}"></script>
{% endblock %}
